.App {
  margin-top: 40px;
  max-width: 650px;
}

.App body {
  font-family: "Inter", sans-serif;
}

.App .card-body {
  padding: 30px 30px;
  margin: 0;
  min-height: 800px;
  border: solid #000 2px;
  background: radial-gradient(
    circle at center,
    rgb(255, 248, 150) 0%,
    #fbfbfb 60%
  );
  background-color: #fbfbfb;
  background-position: -114px -250px;
  background-repeat: no-repeat;
}

.App h1 {
  font-weight: 700;
  font-size: 128px;
  line-height: 154.91px;
  display: inline;
}

.App h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 45px;
}

.App h3 {
  font-weight: 400;
  font-size: 38px;
  line-height: 45.99px;
  display: inline;
}

.App text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgb(74, 74, 74);
}

.App li {
  list-style: none;
}

.App li:first-letter {
  text-transform: capitalize;
}
